.shareDetails {
  position: absolute;
  width: 30%;
  max-height: 80%;
  padding-bottom: 2%;
  top: 15%;
  left: 28%;
  background-color: #2A2A2A;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.shareCard {
  width: 90%;
  background-color: #383837;
  margin-top: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.active{
    border: 7px solid #82CE3A;
  }

  .title {
    width: 90%;

    h1 {
      font-family: jetBrains;
      font-size: 1.7rem;
      width: 100%;
      padding: 3% 0;
      color: #666665;
    }
  }

  .mainDet {
    width: 90%;
    display: flex;
    align-items: stretch;

    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5%;

      .places {

        p {
          font-family: poppins;
          font-size: 0.7rem;
          color: #D0D0CF;
        }
      }

      .details {
        margin-top: 10%;
        display: flex;
        justify-content: center;

        button {
          padding: 5%;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          background-color: #090909;

          p {
            font-family: poppins;
            font-size: 0.7rem;
            color: whitesmoke;
          }
        }
      }
    }

    .right {
      width: 60%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-family: poppins;
        font-size: 0.7rem;
        color: whitesmoke;
      }

      .percent h1 {
        font-family: jetBrains;
        font-size: 6rem;
        color: #666665;
      }
    }
  }
}


.cardSource {
  width: 30%;
  background-color: #2A2A2A;
  border-radius: 10px;
  display: flex;
  transform: translateY(17%) translateX(95%);
  flex-direction: column;
  align-items: center;
  .title {
    width: 90%;

    h1 {
      font-family: jetBrains;
      font-size: 1.7rem;
      width: 100%;
      padding: 3% 0;
      color: #666665;
    }
  }

  .mainDet {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
      width: 40%;

      .places {
        width: 100%;

        p {
          font-family: poppins;
          font-size: 0.7rem;
          color: #D0D0CF;
        }
      }
    }

    .right {
      width: 60%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #2A2A2A;

      p {
        font-family: poppins;
        font-size: 0.7rem;
        color: #D0D0CF;
      }

      .percent h1 {
        font-family: jetBrains;
        font-size: 6rem;
        color: #666665;
      }
    }
  }

  .show {
    width: 90%;
    margin-bottom: 5%;

    .detail,
    .source {
      padding: 5%;

      h2 {
        font-family: jetBrains;
        font-size: 1rem;
        padding-bottom: 2%;
        color: #666665;
      }

      li {
        font-family: poppins;
        font-size: 0.7rem;
        color: #D0D0CF;
      }
    }

    .back {
      display: flex;
      justify-content: flex-end;
      padding: 2%;

      button {
        padding: 2%;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: #090909;

        p {
          font-family: poppins;
          font-size: 0.7rem;
          color: aliceblue;
        }
      }
    }
  }
}

@media (max-width : 1024px) {
    .shareDetails{
        left: 45%;
        width: 50%;
    }
    .cardSource{
        width: 40%;
        transform: translateY(35%) translateX(110%);
    }
}


@media (max-width: 780px) {
.shareDetails{ 
    width: 90%; 
    left: 5%;
    top: 10%; 

}
 .shareCard{ 
    .right{ 
        .percent{ 
            h1{ 
                font-size: 5rem; 
                }
             } 
            } 
        }
 .cardSource{
    width: 90%;
    transform: translateY(20%) translateX(5%);
    .mainDet {
      flex-direction: row;

      .left{
        width: 40%;
      }
      .right{
        width: 60%;
      }
    }

    .percent h1 {
      font-size: 4.5rem;    
 }
}       
}
