
@font-face {
  font-family: "poppins";
  src: url("./assests/fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jetBrains";
  src: url("./assests/fonts/JetBrainsMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}